
.contain{
	display: grid;
	grid-template-areas: 
	'header header header'
	'menuBar menuBar menuBar'
	'menu content content'
	'footer footer footer';
	grid-template-columns: 150px auto ;
}
.header{
    grid-area: header;
    background-color: pink;
}
.mainbar{
	grid-area: menuBar;
	background-color: yellow;
}
.menu{
	grid-area: menu;
	background-color: green;
}
.content{
	grid-area: content;
	background-color: blue;
	}
.footer{
	grid-area: footer;
	background-color: orange;
}
